.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

.heroImg {
    height: 750px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: auto;
}

nav {
    width: 73%;
    padding: 1%;
}

img {
    width: inherit;
}

ul {
    width: 50%;
    margin-left: auto;
    padding: auto;
}

h1 {
    font-family: 'Syncopate', sans-serif;    font-size: 72px;
    color: #ff8496;
}

h2 {
    font-family: 'Syncopate', sans-serif;    font-size: medium;
}
h3 {
    font-family: 'Open Sans', sans-serif;
}

li {
    padding: auto;
}

footer {
    background-color: #373738;
    padding: auto;
    color: white;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}

.flexContainer {
    display: flex;
    text-align: center;
}

.flexContainer div {
    width: 33%;
    padding: 40px;
}

.mySkills h1 {
    text-align: center;
}

.workGrid {
    display: grid;
    grid-template-areas: myArea myArea myArea myArea;
}

